@font-face {
  font-family: "Continuous";
  font-style: normal;
  font-weight: 100;
  src: url("./font/continuous.ttf") format("woff");
}

@font-face {
  font-family: "KoPubWorld";
  font-style: normal;
  font-weight: 100;
  src: url("./font/KoPubWorld.ttf") format("woff");
}

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* * {
  outline: 1px solid red;
} */

.login {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.loginSet {
  display: flex;
  justify-content: space-around;
  width: 80px;
}

.loginButtonIcon {
  font-size: 20px;
}

.loginButtonText {
  font-size: 20px;
  font-family: "Continuous";
  text-decoration: underline;
}

.HMLogoLocation {
  display: flex;
  justify-content: center;
}

.HMLogo {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.menuArea {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menuList {
  display: flex;
  list-style-type: none;
  font-family: "Cafe24Ssurround";
  margin: 0;
  padding: 0;
}

.menuList li {
  padding: 10px;
  cursor: pointer;
}

.searchSet {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchIcon {
  font-size: 20px;
}

.searchText {
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
  font-family: "KoPubWorld";
}

.productImageSet {
  position: relative;
}

.productImage {
  width: 250px;
  border-radius: 10px;
  transition: width 0.3s ease, border-radius 0.3s ease;
}

.productImage:hover {
  width: 275px;
  border-radius: 10px;
}

.productNew {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  font-family: "Continuous";
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 109, 109);
  box-shadow: 0 0 10px 5px rgba(190, 190, 190, 0.7);
  transition: width 0.3s ease, border-radius 0.3s ease;
}

.productNew:hover {
  width: 100px;
  height: 40px;
}

.productChoice {
  width: 120px;
  border-radius: 10px;
  color: black;
  background-color: antiquewhite;
  font-size: 15px;
  font-family: "Continuous";
  text-align: center;
}

.productTitle {
  font-family: "Cafe24Ssurround";
  font-size: 15px;
}

.productPrice {
  font-family: "Cafe24Ssurround";
  font-size: 12px;
}

.productDetailContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px;
}

.productDetailImage {
  width: 400px;
  height: 550px;
  border-radius: 20px;
  box-shadow: 5px 5px 3px rgb(255, 111, 95);
}

.productDetailTitle {
  font-family: "Cafe24Ssurround";
  font-size: 30px;
}

.productDetailPrice {
  font-family: "Cafe24Ssurround";
  font-size: 25px;
}

.productDetailSizes {
  font-family: "Cafe24Ssurround";
  font-size: 20px;
}

.productDetailButton {
  font-family: "Cafe24Ssurround";
  border: none;
  background-color: rgb(255, 122, 122);
  border-radius: 5px;
  height: 30px;
}

@media (max-width: 768px) {
  .login {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
  }

  .loginSet {
    display: flex;
    justify-content: space-around;
    width: 80px;
  }

  .loginButtonIcon {
    font-size: 20px;
  }

  .loginButtonText {
    font-size: 20px;
    font-family: "Continuous";
    text-decoration: underline;
  }

  .HMLogoLocation {
    display: flex;
    justify-content: center;
  }

  .HMLogo {
    width: 100px;
    height: 50px;
    cursor: pointer;
  }

  .menuArea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .menuList {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: "Cafe24Ssurround";
  }

  .menuList li {
    font-size: 8px;
    cursor: pointer;
  }

  .searchSet {
    position: absolute;
    align-items: center;
    margin-top: 20px;
  }

  .searchIcon {
    font-size: 8px;
    display: flex;
    justify-content: flex-end;
    gap: 0px;
  }

  .searchText {
    font-size: 6px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    font-family: "KoPubWorld";
  }

  .productImageSet {
    position: relative;
  }

  .productImage {
    width: 350px;
    border-radius: 10px;
    transition: width 0.3s ease, border-radius 0.3s ease;
  }

  .productImage:hover {
    width: 370px;
    border-radius: 10px;
  }

  .productNew {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    font-family: "Continuous";
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 109, 109);
    box-shadow: 0 0 10px 5px rgba(190, 190, 190, 0.7);
    transition: width 0.3s ease, border-radius 0.3s ease;
  }

  .productNew:hover {
    width: 100px;
    height: 40px;
  }

  .productChoice {
    width: 120px;
    border-radius: 10px;
    color: black;
    background-color: antiquewhite;
    font-size: 15px;
    font-family: "Continuous";
    text-align: center;
  }

  .productTitle {
    font-family: "Cafe24Ssurround";
    font-size: 15px;
  }

  .productPrice {
    font-family: "Cafe24Ssurround";
    font-size: 12px;
  }

  .productDetailContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px;
  }

  .productDetailImage {
    width: 200px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 3px rgb(255, 111, 95);
  }

  .productDetailTitle {
    font-family: "Cafe24Ssurround";
    font-size: 15px;
  }

  .productDetailPrice {
    font-family: "Cafe24Ssurround";
    font-size: 20px;
  }

  .productDetailSizes {
    font-family: "Cafe24Ssurround";
    font-size: 10px;
  }

  .productDetailButton {
    font-family: "Cafe24Ssurround";
    border: none;
    font-size: 8px;
    background-color: rgb(255, 122, 122);
    border-radius: 5px;
    height: 30px;
  }
}
